/* Logo y Navbar*/
header {
    background-color: #27005D;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Fin de sección*/

/* Sección introductoria*/
main {
    padding: 2rem;
}

.intro {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.intro p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #666;
}

.descripcion {
    text-align: center;
    margin: 2rem 0;
}

.descripcion p {
    font-size: 1.25rem;
    color: #666;
}

/* Fin de Sección*/

/* Sección Explorar*/

.explorar {
    text-align: center;
    margin: 2rem 0;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.explorar h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.explorar .explorar-item {
    margin-bottom: 1.5rem;
}

.explorar .explorar-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.explorar .explorar-item p {
    font-size: 1rem;
    color: #666;
}

.explorar .explorar-item a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

.explorar .explorar-item a:hover {
    color: #0056b3;
}

/* Inicio de Footer*/
footer {
    background-color: rgb(228, 241, 255);
    color: black;
    text-align: center;
    padding: 10px;
  }
  footer p {
    margin: 0;
  }