/*Seccion de contacto*/
#contacto .header-img {
    max-width: 290px;
  }
  
  .form-title-img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
  }
  
  #contacto {
    background-color: $color-body;
    padding: 60px 0;
  }
  
  #contacto .form-control {
    background-color: white;
    color: black;
  }
  
  #contacto .btn-primary {
    background-color: white;
    color: black;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
  }
  
  #contacto .btn-primary:hover {
    background-color: $color-letra;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .map-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .form-container {
    flex: 2;
  }
  
  .map-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: $color-letra;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
  }
  
  .map-description {
    margin-top: 15px;
    font-size: large;
    color: white;
    text-align: center;
  }
  
  .contact-title {
    margin-top: 20px;
    font-size: 1.25rem;
    color: $color-letra;
    text-align: center;
    text-decoration: underline;
  }
  
  .contact-info {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-info p {
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-info .contact-icon {
    margin-right: 8px;
    font-size: 1.2rem;
  }
  
  .contact-info .fa-envelope,
  .contact-info .fa-phone {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 50%;
  }
  
  .contact-info .fa-envelope:hover,
  .contact-info .fa-phone:hover {
    background-color: black;
    color: white;
  }
/*Fin de la Seccion*/