/* Inicio de Footer*/
footer {
    background-color: #b8d0eb;
    color: black;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
  }
  
  footer p {
    margin: 0;
  }
/*Fin de footer*/  